* {
    box-sizing: border-box;
}

body {
    background-color:#E4E4E4;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

/* Portrait layout (default) */
.app {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    /* border: 1px solid black; */
}

.container {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid green; */
    position: relative;
}

.logo {
    position: absolute;
    top: 10px;
    left: 5px;
    /* border: 1px solid red; */
    height: 140px;
}

.signIn {
    position: absolute;
    top: 40px;
    right: 10px;
    font-size: 20px; 
    cursor: pointer; 
}

.wrapper {
    /* border: 1px solid blue; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    width: 90%;
    overflow: hidden;
    margin-top: 100px;
    box-shadow: -4px 11px 14px 0px rgba(0,0,0,0.34);
    -webkit-box-shadow: -4px 11px 14px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: -4px 11px 14px 0px rgba(0,0,0,0.34);
}

.sub-h1 {
    font-size:30px;
    font-weight: 700;
    /* border: 1px solid red; */
    margin:20px 0;
    padding:0;
    text-align:center;
}

.blink {
    animation:fade 3000ms infinite;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.event {
    border-radius:3px;
    color:#fff;
    font-size:13px;
    margin:5px;
    padding:2px 2.5px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
    margin-bottom: 20px;
}

#deviceready.ready .event.listening { display: none; }
#deviceready.ready .event.received { display: block; }

.sub-wrapper {
    padding-top: 10px;
    /* border: 1px solid green; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#text1,
#text2,
#text3,
#text4 {
    max-width: 100%;
    text-align: center;
}

#button2,
#button3,
#button4 {
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    color: #000;
    padding: 5px;
}

@media screen and (max-width: 600px) {
    .sub-h1 {
        font-size: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .sub-wrapper {
        flex-flow: row nowrap;
    }
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.6; }
    to { opacity: 1.0; }
}
